        <div layout="row" layout-align="center center">
          <md-button class="md-raised" ng-click="$ctrl.activated = $ctrl.activated ? 0 : 1"><i class="material-icons">add</i>Add new task</md-button>
        </div>
        <form name="$ctrl.addNewForm">
        <md-content flex ng-show="$ctrl.activated">
          <md-input-container class="md-block" flex-gt-sm>
              <label>Name:</label>
              <input required ng-model="$ctrl.newTask.name">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Description:</label>
            <textarea ng-model="$ctrl.newTask.description" rows="1" style="height: 30px;"></textarea>
          </md-input-container>
          <md-checkbox class="green" ng-model="$ctrl.newTask.important" aria-label="Checkbox 1">
          Important!
          </md-checkbox>
          <div layout="row" layout-align="center center">
            <md-button md-colors="{background: 'blue-grey-200'}" class="md-raised" ng-click="$ctrl.addTask()">Add</md-button>
          </div>
        </md-content>
        </form>