
  <div layout='row'>
    <h3 flex="95">{{$ctrl.todo.name}}</h3>
    <i class="material-icons" flex="5" ng-click="$ctrl.removeTask($ctrl.todo.name, $ctrl.nameColumn)">close</i>
  </div>
  <span class="md-subhead line-clamp">{{$ctrl.todo.description}}</span>
  <i class="material-icons" ng-click="$ctrl.openDescription()" ng-if="$ctrl.addThreeDots()">more_horiz</i>
  <div layout="row" layout-align="center center">
<!-- <md-button md-colors="{background: 'blue-grey-200'}">Edit</md-button>
 -->
  </div>